<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="heder__brand">
      <a href="#"
        ><img
          src="../../assets/logo.png"
          class="header__logo"
          alt="The logo of the ARON"
      /></a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            RECORDS GENRES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">JAZZ</a>
            <a class="dropdown-item" href="#">SOUL</a>
            <a class="dropdown-item" href="#">WORLD</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/apparel">APPAREL</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
