<app-header></app-header>
<main>
  <section class="container">
    <h3 class="mt-5 apparel-heading">APPAREL</h3>
    <div class="row">
      <div
        *ngFor="let product of products; let i = index"
        class="mt-5 col-sm-12 col-md-4 col-lg-4"
        [class.nonedisplay]="!product.product_display"
      >
        <div
          class="apparel-item"
          [routerLink]="['/apparel/', product.ProductID]"
          routerLinkActive="router-link-active"
        >
          <img [src]="product.product_image1" [alt]="product.product_name" />
          <img [src]="product.product_image2" [alt]="product.product_name" />
        </div>
        <h2 class="mt-3 apparel-item-title">
          {{ product.product_name | titlecase }}
        </h2>
        <p>{{ product.product_desc }}</p>
        <p class="apparel-item-price">
          {{ product.product_price | currency: "CAD" }}
        </p>
        <availability
          [inStock]="availavility(product.product_quantity)"
        ></availability>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
